<footer class="page-footer danger-color" if="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <p class="white-text center-on-small-only btxt">Pinal Bhatt's Blog<br/><em>Learning endeavor for ever...</em></p>
        <p class="white-text center-on-small-only btxt"><a class="grey-text text-lighten-3" href="#" target="_blank"> <i  class="fa fa-rss"></i> Rss</a> </p>

        <div class="social" style="text-align: center"><a target="_blank" class="twitter" href="http://twitter.com/PBDesk"><i
                class="fa fa-twitter"></i></a> <a target="_blank" class="facebook"
                                                  href="https://www.facebook.com/Go.PBDesk"><i
                class="fa fa-facebook"></i></a> <a target="_blank" class="google-plus"
                                                   href="https://plus.google.com/+Pbdesk"><i
                class="fa fa-google-plus"></i></a> <a target="_blank" class="linkedin"
                                                      href="http://www.linkedin.com/in/pinalbhatt"><i
                class="fa fa-linkedin"></i></a> <a target="_blank" class="pinterest"
                                                   href="https://github.com/PBDesk"><i
                class="fa fa-github"></i></a>
        </div>


      </div>
      <hr class="hidden-lg hidden-md">

      <div class="col-md-3">
        <p class="white-text center-on-small-only btxt">Links</p>
        <ul>
          <li><a href="#"  class="grey-text text-lighten-3" >Home</a>
          </li>
          <li><a class="grey-text text-lighten-3" href="#" target="_blank">About</a>
          </li>
          <li><a class="grey-text text-lighten-3" href="" target="_blank">Contact</a>
          </li>
          <li><a class="grey-text text-lighten-3" href="" target="_blank">Disclaimer</a>
          </li>


        </ul>
      </div>
      <hr class="hidden-lg hidden-md">

      <div class="col-md-6">
          <p class="white-text center-on-small-only btxt">Featured Posts</p>
          <ul>
              <li><a href="#"  class="grey-text text-lighten-3" >Home</a>
              </li>
              <li><a class="grey-text text-lighten-3" href="#" target="_blank">About</a>
              </li>
              <li><a class="grey-text text-lighten-3" href="" target="_blank">Contact</a>
              </li>
              <li><a class="grey-text text-lighten-3" href="" target="_blank">Disclaimer</a>
              </li>


          </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        &copy; {{copyrightYear}}   <a href="http://www.PBDesk.com" target="_blank">PBDesk.com </a> - from the desk of Pinal Bhatt
      </div>
    </div>
  </div>
</footer>