---
layout: default
---
<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
        {{ content }}
    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">
        <div class="sidebar">
            <!-- Blog Search Well -->

            <!-- Subscription widget -->
            <div class="card-panel">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Pinal Bhatt</h5>
                        <h6>Software Engineer</h6>
                        <h6>always on the learning ramp</h6>
                        <br>
                        <div style="text-align: center">
                            <img class="img-responsive" src="/assets/img/PBDesk/PBDesk.png" title="Pinal Bhatt"/>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="http://www.PBDesk.com" target="_blank" class="btn btn-info waves-effect waves-light">About
                            Me</a>
                    </div>
                    <div class="social" style="text-align: center"><a target="_blank" class="twitter" href="http://twitter.com/PBDesk"><i
                            class="fa fa-twitter"></i></a> <a target="_blank" class="facebook"
                                                              href="https://www.facebook.com/Go.PBDesk"><i
                            class="fa fa-facebook"></i></a> <a target="_blank" class="google-plus"
                                                               href="https://plus.google.com/+Pbdesk"><i
                            class="fa fa-google-plus"></i></a> <a target="_blank" class="linkedin"
                                                                  href="http://www.linkedin.com/in/pinalbhatt"><i
                            class="fa fa-linkedin"></i></a> <a target="_blank" class="pinterest"
                                                               href="https://github.com/PBDesk"><i
                            class="fa fa-github"></i></a>
                        <a target="_blank" class="pinterest"
                           href="https://github.com/PBDesk"><i
                                class="fa fa-rss"></i></a>
                        <a target="_blank" class="pinterest"
                           href="https://github.com/PBDesk"><i
                                class="fa fa-user"></i></a>

                    </div>
                </div>
            </div>
            <!--/.Subscription widget -->

            <br>
            <!-- Category widget -->
            <h4>Quick Links</h4>
            <div class="collection">
                <a href="/all-posts" class="collection-item">All Posts</a>
                <a href="#!" class="collection-item">By Category</a>
                <a href="#!" class="collection-item">By Tag</a>
                <a href="#!" class="collection-item">PBDesk.com</a>
            </div>
            <div style="padding-left: 25px">
                {% include Ad/180x150.html %}
            </div>
            <div>
                <a class="twitter-timeline" href="https://twitter.com/pbdesk" data-widget-id="720058444724727809">Tweets
                    by @pbdesk</a>
                <script>!function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + "://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, "script", "twitter-wjs");</script>
            </div>
            <div style="padding-left: 25px">
                {% include Ad/180x150.html %}
            </div>


        </div>
    </div>
</div>