---
layout: default
---
<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
        {{ content }}
    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">
        <div class="sidebar">
            {% include sidebar/profile.html %}
            <br>
            {% include sidebar/links.html %}
            <div style="padding-left: 25px">
                {% include Ad/180x150.html %}
            </div>
            {% include sidebar/TwitterTimeline.html %}
            <div style="padding-left: 25px">
                {% include Ad/180x150.html %}
            </div>
        </div>
    </div>
</div>