<div class="card-panel">
    <div class="row">
        <div class="col-md-12">
            <h5>Pinal Bhatt</h5>
            <h6>Software Engineer</h6>
            <h6>always on the learning ramp</h6>
            <br>
            <div style="text-align: center">
                <img class="img-responsive" src="/assets/img/PBDesk/PBDesk.png" title="Pinal Bhatt"/>
            </div>
        </div>
        <div class="text-center">
            <a href="http://www.PBDesk.com" target="_blank" class="btn btn-info waves-effect waves-light">About
                Me</a>
        </div>
        <div class="social" style="text-align: center"><a target="_blank" class="twitter" href="http://twitter.com/PBDesk"><i
                class="fa fa-twitter"></i></a> <a target="_blank" class="facebook"
                                                  href="https://www.facebook.com/Go.PBDesk"><i
                class="fa fa-facebook"></i></a> <a target="_blank" class="google-plus"
                                                   href="https://plus.google.com/+Pbdesk"><i
                class="fa fa-google-plus"></i></a> <a target="_blank" class="linkedin"
                                                      href="http://www.linkedin.com/in/pinalbhatt"><i
                class="fa fa-linkedin"></i></a> <a target="_blank" class="pinterest"
                                                   href="https://github.com/PBDesk"><i
                class="fa fa-github"></i></a>
            <a target="_blank" class="pinterest"
               href="https://github.com/PBDesk"><i
                    class="fa fa-rss"></i></a>
            <a target="_blank" class="pinterest"
               href="https://github.com/PBDesk"><i
                    class="fa fa-user"></i></a>

        </div>
    </div>
</div>