---
layout: default
---
<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
        <h2 class="page-header h2-responsive">
            Learning endeavor for ever...<br/>
            <small>from the desk of Pinal Bhatt</small>
        </h2>

        <h3 class="h3-responsive">
            Featured Posts
            <small><a href="/all-posts">All Posts</a></small>
        </h3>

        <div class="row">
            {% for post in site.posts %}
            {% if post.featured == true %}
            <div class="col-md-6 post-card-container">
                {% include parts/postCard1.html %}
            </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">
        <div class="sidebar">
            {% include sidebar/profile.html %}
            <br>
            {% include sidebar/links.html %}
            <div style="padding-left: 25px">
                {% include Ad/180x150.html %}
            </div>
            {% include sidebar/TwitterTimeline.html %}
            <div style="padding-left: 25px">
                {% include Ad/180x150.html %}
            </div>
        </div>
    </div>
</div>


